* {
    margin: 0 auto;
    padding: 0px;
}

body {
    background: #F2F2F2;
}

a {
    text-decoration: none
}

a :hover {
    text-decoration: none;
}

li {
    list-style: none;
}

.box .ad {
    position: relative;
    height: 100px;
    width: 100%;
    display: block;
    background: url(../images/58cde3a6-864b-48ca-bcff-5135c0c599b6.png) no-repeat 50%;
}

.cha {
    width: 1190px;
    margin: 0 auto;
    position: relative;
    padding-top: 20px;
    text-align: right;
    padding-right: 10px;
}

.cha span {
    color: white;
    font-size: 24px;
}

.main {
    width: 1190px;
}

.welcome {
    height: 35px;
    line-height: 20px;
    padding-top: 7px;
    padding-bottom: 8px;
    border-bottom: 1px solid #e6e6e6;
    background: #f4f4f4;
}

.welcome2 {
    width: 1190px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    color: #222;
}

.welcome2 .wel_left {
    float: left;
}

.welcome2 .wel_left span {
    font-size: 14px;
    color: black;
}

.welcome2 .wel_right {
    float: right;
}

.welcome2 .wel_right .item a {
    color: black;
    font-size: 14px;
}

.welcome2 .wel_right .item {
    position: relative;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 0 12px;
    border-left: 1px solid #dbdbdb;
    vertical-align: middle;
    font-size: 14px;
}

.welcome2 .wel_right .item .tel {
    height: 26px;
    margin-top: -3px;
}

.logo {
    height: 104px;
    padding: 12px 0;
    background-color: #fff;
}

.logo2 {
    width: 1190px;
    margin-left: auto;
    margin-right: auto;
    height: 65px;
}

.cc {
    position: relative;
    z-index: 999;
    height: 80px;
    padding-top: 15px;
    background: #fff;
}

.logo2 .logobox {
    float: left;
    width: 270px;
    height: 50px;
    margin-right: 30px;
    -webkit-transition: none;
    transition: none;
}

.logo2 .logobox img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.logo2 .ewm {
    float: right;
    width: 80px;
    height: 80px;
    margin-top: -15px;
    text-align: right;
}

.logo2 .seach .xiadan {
    display: inline-block;
    width: 120px;
    height: 40px;
    border-radius: 4px;
    margin-left: 20px;
    vertical-align: top;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #f03a58;
}

.logo2 .seach .xiadan i {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    vertical-align: middle;
    background: url(../images/ico_light_2x.png) no-repeat 0;
    background-size: 20px;
    font-style: normal;
    font-size: 18px;
    color: #f03a58;
    width: 95px;
    text-align: center;
}

.logo2 .logobox {
    float: left;
    width: 270px;
    height: 50px;
    margin-right: 30px;
    transition: none;
}

.logo2 .seach {
    float: left;
}

.logo2 .seach .seachbox {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.logo2 .seach .seachbox p {
    margin-top: 5px;
}

.logo2 .seach .seachbox p a {
    margin-right: 20px;
    color: #888;
}

.logo2 .seach .seachbox .seach_input {
    position: relative;
    display: block;
    height: 36px;
    border: 2px solid #f03a58;
    border-radius: 5px;
    overflow: hidden;
}

.logo2 .seach .seachbox .seach_input .btnn {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 110px;
    height: 36px;
    line-height: 36px;
    background: #f03a58;
    text-align: center;
    outline: none;
}

.logo2 .seach .seachbox .seach_input .btnn i {
    display: inline-block;
    padding-left: 30px;
    background: url(../images/icon_search.png) no-repeat 0;
    font-size: 18px;
    font-style: normal;
    color: #fff;
    line-height: 36px;
    text-align: center;
}

.logo2 .seach .seachbox .seach_input input {
    display: block;
    width: 560px;
    height: 36px;
    padding: 0 15px;
    font-size: 16px;
    outline: none;
    transition: none;
}

.menu {
    height: 40px;
    border-bottom: 2px solid #f03a58;
    background-color: #fff;
}

.menu2 {
    position: relative;
    z-index: 99;
    height: 40px;
    width: 1190px;
    margin-left: auto;
    margin-right: auto;
}

.menu2 .all {
    float: left;
    width: 230px;
    height: 40px;
    line-height: 40px;
    background: #f03a58 url(../images/menu.png) no-repeat 14px;
    text-indent: 48px;
    font-size: 18px;
    color: #fff;
}

.menu2 .oul {
    overflow: hidden;
}

.menu2 .oul li {
    float: left;
    padding-left: 40px;
}

.menu2 .oul li a {
    display: block;
    position: relative;
    height: 38px;
    line-height: 38px;
    font-size: 18px;
    text-align: center;
    z-index: 100;
    color: #222;
}

.listname2 {
    height: 52px;
}

.listname2 p {
    padding: 14px 0;
    margin: 0 auto;
    height: 24px;
    line-height: 24px;
    width: 1190px;
}

.listkind2 {
    height: 205px;
    margin: 0 auto 10px;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #e5e5e5;
}

.listkind2 .fl {
    width: 100%;
    float: left;
    border-top-width: 0;
    height: 106px;
    border-top: 1px dashed #e5e5e5;
    background: #f6f6f6;
}

.listkind2 .list-head {
    float: left;
    color: #222;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 139px;
    line-height: 24px;
    padding: 9px 7px 0 14px;
    font-weight: 700;
    box-sizing: border-box;
}

.in_ul {
    width: 1049px;
    float: left;
    background: #fff;
    padding-bottom: 10px;
    position: relative;
}

.in_ul .bbox {
    overflow-y: hidden;
    float: left;
    height: 96px;
    width: 1034px;
    background: #fff;
    padding: 0 0 0 15px;
    max-height: 96px;
}

.in_ul .bbox .sbox {
    float: left;
    width: 955px;
}

.categorys-left {
    float: left;
    width: 125px;
    box-sizing: border-box;
    margin-right: 5px;
    margin-top: 10px;
    height: 22px;
}

.categorys-left a {
    max-width: 125px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #f03a58;
    padding: 0 5px;
    line-height: 22px;
    height: 22px;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
}

.categorys-right {
    float: left;
    width: 825px;
}

.categorys-right ul {
    width: 825px;
    padding-top: 5px;
    float: left;
}

.clearfix {
    clear: both;
}

.categorys-right ul li {
    position: relative;
    float: left;
    height: 26.8px;
    padding-right: 30px;
}

.categorys-right ul li a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.categorys-left {
    float: left;
    width: 125px;
    box-sizing: border-box;
    margin-right: 5px;
    margin-top: 10px;
    height: 22px;
}

.in_ul .bbox .more-btn {
    position: absolute;
    top: 9px;
    right: 10px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    width: 56px;
    text-align: center;
    box-sizing: border-box;
}

.listkind2 .pp {
    position: relative;
    width: 100%;
    border-top: 1px dashed #e5e5e5;
    background: #f6f6f6;
    float: left;
}

.in_ul .ulbox {
    height: 86px;
    overflow-y: hidden;
    float: left;
    width: 1034px;
    background: #fff;
    padding: 0 0 0 15px;
}

.in_ul .ulbox ul {
    width: 940px;
    height: 86px;
    padding-top: 5px;
    float: left;
}

.in_ul .ulbox ul li {
    float: left;
    height: 26.8px;
    position: relative;
    padding-right: 30px;
}

.in_ul .ulbox ul li a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.in_ul .sbox ul li :hover {
    color: #f03a58;
}

.in_ul .ulbox ul li :hover {
    color: #f03a58;
}

.listkind2 .pp .more-btn {
    position: absolute;
    top: 9px;
    right: 10px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    width: 56px;
    text-align: center;
    box-sizing: border-box;
}

.listkind2 .pp .more-btn2 {
    position: absolute;
    top: 43px;
    right: 10px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    width: 56px;
    text-align: center;
    box-sizing: border-box;
}

.paixu2 {
    margin: 0 auto 10px;
    line-height: 40px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    font-size: 0;
    height: 40px;
    box-sizing: border-box;
    position: relative;
}

.paixu2 .cao {
    display: inline-block;
    vertical-align: top;
}

.paixu2 .cao a {
    height: 38px;
    line-height: 38px;
    background-color: #fff;
    color: #222;
    width: 64px;
    text-align: center;
    float: left;
    vertical-align: top;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 12px;
    border-right: 1px solid #e5e5e5;
}

.paixu2 .cao .active {
    background-color: #f03a58;
    color: #fff;
}

.paixu2 .cao .kg {
    padding-right: 20px;
    width: auto;
    cursor: pointer;
    padding: 0 20px;
    background-repeat: no-repeat;
    height: 38px;
    line-height: 38px;
    background-color: #fff;
    color: #222;
    box-sizing: border-box;
    font-size: 12px;
    border-right: 1px solid #e5e5e5;
    float: left;
    vertical-align: top;
    text-align: center;
}

.paixu2 .cao .kg i {
    display: inline-block;
    width: 16px;
    min-height: 16px;
    margin-right: 5px;
    background: url(../images/icon_checkbox.png) no-repeat 50%;
    vertical-align: middle;
    cursor: pointer;
}

.paixu2 .list-main {
    float: right;
    font-size: 12px;
    position: relative;
    line-height: 40px;
}

.paixu2 .cao .price-box {
    float: left;
    padding: 0 19px;
    height: 38px;
    position: relative;
    border-right: 1px solid #e5e5e5;
}

.paixu2 .cao .price-box input {
    float: left;
    width: 32px;
    height: 22px;
    background: #fff;
    border-radius: 2px;
    border: 1px solid #e0e0e0;
    margin-top: 8px;
    padding-left: 6px;
    color: #222;
}

.paixu2 .cao .price-box .price .price-line {
    display: block;
    float: left;
    margin: 19px 4px 0;
    line-height: 39px;
    background: #222;
    height: 1px;
    width: 8px;
}

.paixu2 .list-main {
    float: right;
    font-size: 12px;
    position: relative;
    line-height: 40px;
}

.paixu2 .list-main span {
    float: left;
    margin-right: 20px;
    color: #222;
}

.paixu2 .list-main a {
    float: left;
    height: 38px;
    display: block;
    line-height: 38px;
    text-align: center;
}

.paixu2 .list-main .next {
    background: url(../images/ico_black.png) no-repeat 61px;
    background-size: 6px;
    padding: 0 31px 0 20px;
    color: #222;
}

.paixu2 .list-main .prev {
    background: url(../images/ico_arrow.png) no-repeat 20px;
    background-size: 6px;
    padding: 0 20px 0 31px;
    color: #888;
}

.paixu2 .list-main .p-split {
    width: 1px;
    height: 20px;
    position: absolute;
    right: 86px;
    top: 9px;
    background: rgba(0, 0, 0, .1);
    display: block;
    margin-right: 0;
    float: left;
    color: #222;
}

.goodlist2 {
    height: 2600px;
    background: white;
    overflow: hidden;
}

.goodlist2 .good_item {
    font-size: 0;
    padding: 20px 0;
    width: 1150px;
    position: relative;
    height: 130px;
    box-sizing: border-box;
    border-bottom: 1px dashed #e5e5e5;
}

.goodlist2 .good_item .goodimg {
    display: inline-block;
    vertical-align: top;
    width: 92px;
    height: 92px;
    border: 1px solid #e6e6e6;
    position: relative;
}

.goodlist2 .good_item .goodimg a img {
    width: 90px;
    height: 90px;
}

.goodlist2 .good_item .goodimg .handler {
    position: absolute;
    color: #fff;
    background-color: #f14d68;
    font-size: 12px;
    text-align: center;
    bottom: 0;
    display: none;
}

.goodlist2 .good_item .goodimg .handler a {
    width: 90px;
    height: 24px;
    display: block;
    color: #fff;
    text-decoration: none;
    line-height: 24px;
}

.goodlist2 .good_item .goodinfo {
    display: inline-block;
    vertical-align: top;
    width: 280px;
    margin: 0 70px 0 10px;
    box-sizing: border-box;
}

.goodlist2 .good_item .goodinfo a {
    display: block;
    font-size: 14px;
    color: #222;
    max-height: 40px;
    line-height: 20px;
    margin-bottom: 10px;
    overflow: hidden;
    cursor: pointer;
}

.goodlist2 .yc {
    position: absolute;
    border: 1px solid #e5e5e5;
    width: 219px;
    height: 219px;
    line-height: 43px;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    font-family: sans-serif;
    top: 15px;
    left: 126px;
    z-index: 1000;
    background-image: url(../images/l1.jpg);
    background-size: 100%;
    display: none;
}

.goodlist2 .good_item .goodinfo .goods-info-detail {
    font-size: 12px;
    color: #888;
    margin-bottom: 5px;
}

.goodlist2 .good_item .goodprice {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 325px;
}

.goodlist2 .good_item .goodprice .present-price {
    display: inline-block;
    vertical-align: top;
    color: #f03a58;
    font-size: 16px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.goodlist2 .good_item .goodprice .login-out {
    width: 284px;
    float: left;
    height: 36px;
    background: url(../images/huiyuan.png) no-repeat 50%;
    margin-bottom: 10px;
    background-size: 284px auto;
}

.goodlist2 .good_item .goodstock {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 205px;
    margin-top: 6px;
    font-size: 14px;
}

.goodlist2 .good_item .goodbuy {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    font-size: 0;
    width: 168px;
    text-align: right;
}

.goodlist2 .good_item .goodbuy .jian {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 20px;
    cursor: pointer;
    font-size: 18px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
}

.goodlist2 .good_item .goodbuy .goodnum {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 68px;
    color: #333;
    height: 30px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #ccc;
}

.goodlist2 .good_item .goodbuy .jia {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 20px;
    cursor: pointer;
    height: 30px;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
}

.goodlist2 .good_item .goodbuy .goods-order {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 50px;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    background: #f03a58;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

.yema2 {
    padding: 20px 0;
    text-align: center;
    font-size: 0;
    background: white;
}

.yema a {
    border-radius: 2px;
    background: #f4f4f5;
    display: inline-block;
    vertical-align: top;
    height: 30px;
    /* width: 30px; */
    margin: 0 3px;
    padding: 0 5px;
    line-height: 30px;
    min-width: 20px;
    text-align: center;
    font-size: 18px;
    color: #222;
    text-decoration: none;
    cursor: pointer;
}

.yema .on {
    background: #f03a58;
    color: #fff;
    display: block;
    font-size: 12px;
    border-radius: 2px;
    display: inline-block;
    height: 30px;
    /* width: 30px; */
    margin: 0 3px;
    padding: 0 5px;
    line-height: 30px;
    min-width: 20px;
    text-align: center;
    font-size: 14px;
}